apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: dev
  data:
  APP_ENV: "dev"
  REDIS_HOST: "192.168.1.4"
  REDIS_PORT: "6379"
  # HTTP Server
  HTTP_PORT: "8080"
  HTTP_READ_TIMEOUT: "30s"
  HTTP_WRITE_TIMEOUT: "30s"
  # gRPC Server
  GRPC_PORT: "9090"
  GRPC_MAX_RECV_MSG_SIZE: "4194304"
  GRPC_MAX_SEND_MSG_SIZE: "4194304"
  # Gateway
  GATEWAY_ENABLED: "true"
  # OpenTelemetry
  OTEL_EXPORTER_OTLP_ENDPOINT: "alloy.observability.svc.cluster.local:4317"
  OTEL_SERVICE_NAME: "my-app"
  OTEL_RESOURCE_ATTRIBUTES: "environment=dev"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: dev
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: c1789/my-app:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
            - name: grpc
              containerPort: 9090
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: my-app
  namespace: dev
  spec:
    selector:
      app: my-app
    ports:
      - name: http
        protocol: TCP
        port: 8080
        targetPort: 8080
      - name: grpc
        protocol: TCP
        port: 9090
        targetPort: 9090
    type: ClusterIP