apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability
data:
  datasources.yml: |
    apiVersion: 1
    
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        uid: prometheus
        url: http://prometheus.observability.svc.cluster.local:9090
        isDefault: true
        editable: true

      - name: Loki
        type: loki
        access: proxy
        uid: loki
        url: http://loki.observability.svc.cluster.local:3100
        isDefault: false
        editable: true

      - name: Jaeger
        type: jaeger
        access: proxy
        uid: jaeger
        url: http://jaeger.observability.svc.cluster.local:16686
        isDefault: false
        editable: true